<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" stopOnFailure="false" colors="true" verbose="true" bootstrap="./tests/_bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">./vendor/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="Bluzman Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
